<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> 
    <title>Document</title>
    <link rel="stylesheet" href="css/todos.css">
    <!-- had to swap fa script to gain access to some missing icons -->
    <!--<script src="https://kit.fontawesome.com/2a5293cd7e.js" crossorigin="anonymous"></script>-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/fontawesome.min.js" integrity="sha512-j3gF1rYV2kvAKJ0Jo5CdgLgSYS7QYmBVVUjduXdoeBkc4NFV4aSRTi+Rodkiy9ht7ZYEwF+s09S43Z1Y+ujUkA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/solid.min.js" integrity="sha512-dcTe66qF6q/NW1X64tKXnDDcaVyRowrsVQ9wX6u7KSQpYuAl5COzdMIYDg+HqAXhPpIz1LO9ilUCL4qCbHN5Ng==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  
    
</head>
<body>

  <h1> Pomodoro Todo </h1> 

  <section class="pomo-container">
    <div class="pomo-container__session-change-buttons">
      <div class="pomo-container__session-change-button-details" id="js-mode-buttons">
        <button class="pomo-container__button" data-mode="pomodoro">Pomodoro</button>
        <button class="pomo-container__button" data-mode="shortBreak">Short Break</button>
        <button class="pomo-container__button" data-mode="longBreak">Long Break</button>
      </div>
      <div class="pomo-container__timer">
        <span class="pomo-container__timer-minutes" id='js-minutes'>25</span>
        <span class="pomo-container__timer-separator separator">:</span>
        <span class="pomo-container__timer-seconds" id='js-seconds'>00</span>
      </div>
      <div class="pomo-container_start-stop-buttons">
        <button class="pomo-container__start-stop-button" id="js-btn">START</button>
      </div>
    </div>
  </section>

  <div class = "box" id = "heading">
    <h2>Tasks</h2>
  </div>

  <div class = "box">
    
    <% todos.forEach( (el, index) => { %>
      <div class = "item">
        <input type = "checkbox">
        <p class='todoItem' data-id='<%=el._id%>'>
          <span><%= index + 1 %></span>
          <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
          <span class='todoNote'> <%= el.todoNote %>  </span>
          <span class='del'> <i class=" fa fa-solid fa-trash-can" id="customfa"></i> </span>
          <span class="edit"> <i class="fa fa-solid fa-edit"></i> </span>
          <span class="down"> <i class="fa fa-solid fa-circle-down"></i> </span>
          <span class="up"> <i class="fa fa-solid fa-circle-up"></i> </span>
        </p>
      </div>
            
                
    <% }) %>  

    <h3><%= user.userName %> has <%= left %> things left to do. 
    </h3>

      <div class='formField'>
  <form class="item" action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Add Task" name='todoItem'>
        <input type="text" placeholder="Priority" name='priority'>
        <input type="text" placeholder="Note" name='todoNote'>
        <button class="btn-submit" type="submit" name="button">+ 
        </button>
  </form>
    
  </div>
    
  <div class = "btn">
    <a href="/logout">Logout</a>
  </div>
</div>
  <script src="js/main.js"></script>
</body>
</html>